
    <h3>Creditos de la aplicacion</h3><br />
    <h4>
    	<p>Esta aplicacion ha sido desarrollada por Sergio Gonzalez Rueda.</p><br />
    	<a href="mailto:sergio74rr@gmail.com">Contacto</a>
    </h4>
