<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Creditos de la aplicacion</h1>
    <p>Esta aplicacion ha sido desarrollada por Sergio Gonzalez Rueda.</p>
    <p>Contacto: sergio74rr@gmail.com</p>
  </body>
</html>
